body, 
ul {
  margin: 0;
}


/*  this not accessble from keyboard fixed when will find answer */
a, 
a:focus, 
a:hover {
  outline-style: none;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: #723B33;
  letter-spacing: 1px;
  font-size: 1.7em;
  margin: 40px auto;
}

h2:first-child {
	margin-top: 60px;
}

#dynamic-to-top,
#dynamic-to-top span, 
.form-group, 
.modal-body, 
nav {
  overflow: hidden;
}

body {
  font: 14px pt_sansregular, Arial, sans-serif;
  margin-top: 50px;
}

address,
article, 
aside, 
footer, 
header, 
main, 
nav, 
section {
  display: block;
}

@font-face {
  font-family: pt_sansregular;
  src: url(../fonts/PTS55F-webfont.eot);
  src: url(../fonts/PTS55F-webfont.eot?#iefix) format('embedded-opentype'), 
  url(../fonts/PTS55F-webfont.woff) format('woff'), 
  url(../fonts/PTS55F-webfont.ttf) format('truetype'), 
  url(../fonts/PTS55F-webfont.svg#pt_sansregular) format('svg');
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style-type: none;
}

h3 {
  margin-top: 10px;
}

a {
  -webkit-transition: color .3s ease-in;
  -moz-transition: color .3s ease-in;
  -o-transition: color .3s ease-in;
  transition: color .3s ease-in;
  font-size: 13px;
}

.fullscreen {
  width: 80%;
  margin: 0 auto;
}

.carousel, 
.navbar {
  margin-bottom: 0;
}

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
}

nav {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #723b33;
  background-image: -moz-linear-gradient(top, #723b33, #723b33);
  background-image: -webkit-linear-gradient(top, #723b33, #723b33);
  background-image: -o-linear-gradient(top, #723b33, #723b33);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#723b33), to(#723b33));
  background-image: linear-gradient(top, #723b33, #723b33);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#723b33',  endColorstr='#723b33',  GradientType=0);
}

.nav-collapse>.nav {
  margin-top: 10px;
}

.navbar-brand {
  padding-top: 5px;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-default .navbar-toggle:hover {
  background-color: #fff;
}

.books-shelf {
  padding-left: 0;
  overflow: hidden;
}

.books-shelf li {
  text-align: center;
  margin: 20px 0;
}

.books-shelf a img {
  -moz-transition: transform .3s linear, 
  								 -moz-transform .3s linear;
  -o-transition: transform .3s linear,
  							 -o-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear,
  						-webkit-transform .3s linear,
  						-moz-transform .3s linear,
  						-o-transform .3s linear;
  -webkit-transition: transform .3s linear;
}

.books-shelf a:hover img {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04);
}

.navbar .nav>li>a {
  color: #fff;
  text-shadow: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.navbar .nav>li>a:hover {
  background-color: transparent;
  color: #000;
}

.tabs-right>.nav-tabs {
  border: 0;
}

.tabbable {
	overflow: hidden;
	margin-bottom: 40px;
}

.nav-tabs li.video-tabs.active>a,
.nav-tabs li.video-tabs.active>a:hover, 
.nav>li.video-tabs>a:hover {
  color: #000;
  text-decoration: underline;
  border: 0;
}

.nav-tabs li a {
  border: 0;
}

video {
  max-width: 100%;
  height: auto;
}

.prev-float {
  margin: auto 10px auto 0;
  float: left;
}

.video-tabs a {
  text-transform: none;
  color: #7c6666;
  overflow: hidden;
}

.video-tabs p {
	overflow: hidden;
}

.modal-header {
  background-color: #AE5E53;
}

.modal-header .close {
  font-size: 50px;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  color: #000;
  font-size: 50px;
}

.carousel-control.left span,
.carousel-control.right span {
  position: absolute;
  top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.carousel-control.right span {
	right: 1%;
}

.carousel-control.left span {
  left: 1%;
}

.carousel-inner img {
  margin: 0 auto;
}

footer {
  background-color: #723b33;
  position: relative;
  padding: 40px 0 0;
  font-size: 1.1em;
}

#dynamic-to-top {
  display: block;
  width: auto;
  z-index: 90;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  border: 1px solid #fff;
  background: #723b33;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#dynamic-to-top span {
  display: block;
  width: 14px;
  height: 12px;
  background: url(../img/up.png) center center no-repeat;
}

.contacts {
  color: #b8a69f;
  line-height: 1.8em;
}

.form {
  margin: auto auto 25px;
  border-radius: 3px;
}

.btn-primary {
  border: #48c9b0;
  background-color: #48c9b0;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: all .5s;
  font-size: 17px;
  width: 30%;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 1.44em auto .55em;
}

.btn-primary:hover {
  background-color: #1ABC9C;
}

.form-control, 
.form-control textarea:focus, 
.form-control:focus, 
.has-error .form-control, 
.has-error .form-control:focus,
.has-success .form-control, 
.has-success .form-control:focus, 
input, 
textarea {
  box-shadow: none;
}


	/* fix labels they not have values */

.form-control {
  opacity: 1;
  border: 0;
  border-bottom: 2px solid #bdc3c7;
  border-radius: 0;
  font-size: 15px;
  padding: 4px;
  height: 42px;
  background: #723b33;
  -webkit-appearance: none;
}

#contact-name,
.form-group.left {
    float: left;
}

.form-group.right {
  float: right;
}

.form-group.left, 
.form-group.right {
  width: 45%
}

.left .form-control, 
.right .form-control {
  margin-top: 0;
}

.clearfix {
    clear: both;
}

input, 
textarea {
  resize: none;
  overflow: auto;
  box-sizing: border-box;
}

.has-error input, 
.has-error textarea {
  color: #e74c3c;
  border-color: #e74c3c;
}

.has-error .input-field-icon {
  color: #e74c3c;
}

.has-success input,
.has-success textarea {
  color: #2ecc71;
  border-color: #2ecc71;
}

.has-success .input-field-icon {
  color: #2ecc71;
}

input:focus, 
textarea:focus {
  border-color: #48c9b0;
  color: #34495e;
}


textarea.form-control {
  height: 120px;
  transition: .6s;
  -webkit-transition: .6s;
  -ms-transition: .6s;
}

textarea.form-control:focus {
  height: 200px;
  border-color: #48c9b0;
}

@media (max-width:600px) {
    
  .form {
    width: 90%;
    margin-top: 12%;
  }
}

.copyright {
  color: #b8a69f;
  text-align: right;
  font-size: .9em;
  margin: 0;
  padding: 10px 100px 10px 0;
  background-color: #561f17;
}

@media (max-width:480px) {
  .btn-primary {
    width: 55%;
    font-size: 14px;
	}
}

@media (max-width:768px) {
  h1 {
  	font-size: 1.2em;
    border-top: 1px #723B33 solid;
    border-bottom: 1px #723B33 solid;
    padding: 10px 0;
	}
	
	.artnote_innovations {
    font-size: 1.1em;
    text-align: center;
    padding: 25px;
    line-height: normal;
	}
	
	.artnote_specifications {
    font-size: 1.1em;
	}

	.artnote_features span {
    padding: 7px 0;
    display: block;
    line-height: normal;
    font-size: 1.1em;
	}
	
	.btn-primary {
    width: 40%
  }
}

@media (min-width:768px) {
  .navbar-nav>li>a {
    padding: 15px 7px;
	}
}

@media (max-width:992px) {
  .fullscreen {
    width: 100%
 	}

  .btn-primary {
  	width: 40%;
  }
}

@media (min-width:992px) {
  .navbar-nav>li>a {
    padding: 15px;
	}
	
	.fixHeight {
    height: 300px;
	}
	
	.fixHeight>a {
    display: block;
    position: relative;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
  }
}

@media(min-width: 1200px) {
  section .nav li {
    float: none;
	}
}`