body,
ul {
  margin: 0;
}

/*  this not accessble from keyboard fixed when will find answer */

a:focus {
  outline: 1px dotted blue;
}

h2:first-child {
	margin-top: 60px;
}

h3 {
	font-size: 18px;
  margin-top: 10px;
}

.m-t-56 {
	margin-top: 56px;
}

.m-t-38 {
	margin-top: 38px;
}

#dynamic-to-top,
.arrow-up, 
.form-group, 
.modal-body {
  overflow: hidden;
}

body {
  font: 14px pt_sansregular, Arial, sans-serif;
  margin-top: 50px;
}

address,
article, 
aside, 
footer, 
header, 
main, 
nav, 
section {
  display: block;
}

iframe {
  border: 0;
}

@font-face {
  font-family: pt_sansregular;
  src: url(../fonts/PTS55F-webfont.eot);
  src: url(../fonts/PTS55F-webfont.eot?#iefix) format('embedded-opentype'), 
  url(../fonts/PTS55F-webfont.woff) format('woff'), 
  url(../fonts/PTS55F-webfont.ttf) format('truetype'), 
  url(../fonts/PTS55F-webfont.svg#pt_sansregular) format('svg');
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style-type: none;
}

a {
  font-size: 13px;
  transition: color .3s ease-in;
}

a:hover,
a:focus {
  text-decoration: none;
}

a[href^="#myModal"] {
	display: inline-block;
	position: relative;
}

.access-visible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);   
}

.responsive-img-bt {
  width: 100%;
  height: 100%;
}

.carousel {
  margin-bottom: 0;
}

.section-header {
  text-align: center;
  text-transform: uppercase;
  color: #723B33;
  letter-spacing: 1px;
  font-size: 1.7em;
  margin: 40px auto;
}

/*                   Navbar custom styles
 */

.navbar-custom {
  background-color: #723b33;
  background-image: linear-gradient(top, #723b33, #723b33);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#723b33',  endColorstr='#723b33',  GradientType=0);
}

.navbar-custom .nav-link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.navbar-custom .nav-link:hover {
  background-color: transparent;
  color: #000;
} 

.navbar-custom .navbar-toggler {
  border: 1px solid #fff;
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.with-icon:before {
	content: '';
	width: 50px;
	height: 50px;
	background-image:url('../images/new.svg');
	position: absolute;
	top: -20px;
	right: -25px;
	z-index: 1;
}

.books-shelf {
  padding-left: 0;
  overflow: hidden;
}

.books-shelf li {
  text-align: center;
  margin: 20px 0;
}

.books-shelf a img {
  transition: transform .3s linear;
  -webkit-transition: -webkit-transform .3s linear;
}

.books-shelf a:hover img {
  -ms-transform: scale(1.04);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.price {
  color: #723B33;
  display: block;
  font-size: 20px;
  padding-top: .5em;
  text-align: center;
}

.price:hover,
.price:focus {
  color: #723B33;
}

.txt-align-center {
  text-align: center;
}
              
              /* visible effect for lazyloading images  */

.blur-up {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  transition: -webkit-filter 400ms, filter 400ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
          filter: blur(0);
}

          /* Video youtube styles */

.youtube-item,
.resp-img {
  width: 100%;
}

.slick-prev, 
.slick-next {
  font-size: 0;
  line-height: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  display: none;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  z-index: 1;
}

.slick-next {
  right: 0;
}

.slick-next:before,
.slick-prev:before {
  content: '';
  display: inline-block;
  border-top: 2px #000 solid;
  border-right: 2px #000 solid;
  width: 10px;
  height: 10px;
  background-color: transparent;
  -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slick-prev {
  left: 0;
}

.slick-prev:before {
  -ms-transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slick-prev:hover:before,
.slick-next:hover:before {
  border-top-color: green;
  border-right-color: green;
}

.slick-slide {
  padding: 0 10px;
}

            
          /* Our projects styles*/

.tabs-right>.nav-tabs {
  border: 0;
}

.tabbable {
	overflow: hidden;
	margin-bottom: 40px;
}

.nav-tabs li.video-tabs.active>a,
.nav-tabs li.video-tabs.active>a:hover, 
.nav>li.video-tabs>a:hover {
  color: #000;
  text-decoration: underline;
  border: 0;
}

.nav-tabs li a {
  border: 0;
}

video {
  max-width: 100%;
  height: auto;
}

.prev-float {
  margin: auto 10px auto 0;
  float: left;
}

.video-tabs a {
  text-transform: none;
  color: #7c6666;
  overflow: hidden;
}

.video-tabs p {
	overflow: hidden;
}

.video-tabs-icons {
  background-image: url('../images/video-tabs-icons.png');
  background-repeat: no-repeat;
  display: block;
  width: 80px;
  height: 45px;
  float: left;
  margin: auto 10px auto 0;
}

.ukrhistory-tab {
  background-position: -5px -115px;
}

.rusliterature-tab {
  background-position: -95px -60px;
}

.augreality-tab {
  background-position: -5px -5px;
}

.rusliterature5-tab {
  background-position: -95px -5px;
}

.armenianmemory-tab {
  background-position: -5px -60px;
}

/* centering slider elements*/

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  vertical-align: middle;
}

.modal-header {
  background-color: #AE5E53;
  padding: 10px;
}

.modal-header .close {
  font-size: 50px;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  color: #000;
  font-size: 50px;
}

.carousel-control.left span,
.carousel-control.right span {
  position: absolute;
  top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.carousel-control.right span {
	right: 1%;
}

.carousel-control.left span {
  left: 1%;
}

.carousel-inner img {
  margin: 0 auto;
}

footer {
  background-color: #723b33;
  position: relative;
  padding: 40px 0 0;
  font-size: 1.1em;
}

#dynamic-to-top {
  display: block;
  width: auto;
  z-index: 90;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  border: 1px solid #fff;
  background: #723b33;
  border-radius: 0;
}

.arrow-up {
  display: block;
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
}

    /* Delivery section */
    

.delivery-paragraph {
    font-size: 16px;
}

.m-b-delivery {
  margin-bottom: 60px;
}

@media (min-width: 992px) {
  .delivery {
    padding: 0 3em;
  }

  .delivery-paragraph {
    font-size: 20px;
  }
}

     /* Footer section */

.contacts {
  color: #b8a69f;
  line-height: 1.8em;
}

.form {
  margin: auto auto 25px;
  border-radius: 3px;
  text-align: center;
}

.btn-primary {
  border: #48c9b0;
  background-color: #48c9b0;
  cursor: pointer;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: all .5s;
  font-size: 17px;
  display: inline-block;
  width: auto;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 1.44em auto .55em;
}

.btn-primary:hover {
  background-color: #1ABC9C;
}

.form-control, 
.form-control textarea:focus, 
.form-control:focus, 
.has-error .form-control, 
.has-error .form-control:focus,
.has-success .form-control, 
.has-success .form-control:focus, 
input, 
textarea {
  box-shadow: none;
}


	/* fix labels they not have values */

.form-control {
  opacity: 1;
  border: 0;
  border-bottom: 2px solid #bdc3c7;
  border-radius: 0;
  font-size: 15px;
  padding: 4px;
  height: 42px;
  background: #723b33;
  -webkit-appearance: none;
}

#contact-name,
.form-group.left {
    float: left;
}

.form-group.right {
  float: right;
}

.form-group.left, 
.form-group.right {
  width: 45%
}

.left .form-control, 
.right .form-control {
  margin-top: 0;
}

.has-error input, 
.has-error textarea {
  color: #e74c3c;
  border-color: #e74c3c;
}

.has-success input,
.has-success textarea {
  color: #2ecc71;
  border-color: #2ecc71;
}

input:focus, 
textarea:focus {
  border-color: #48c9b0;
  color: #fff;
}

textarea.form-control {
  height: 120px;
  transition: .6s;
  -webkit-transition: .6s;
  -ms-transition: .6s;
}

textarea.form-control:focus {
  height: 200px;
  border-color: #48c9b0;
}

@media (max-width:600px) {

  .form {
    width: 90%;
    margin-top: 12%;
  }
}

.copyright {
  color: #b8a69f;
  text-align: right;
  font-size: .9em;
  margin: 0;
  padding: 10px 100px 10px 0;
  background-color: #561f17;
}

@media (min-width:768px) {
	h3 {
		font-size: 20px;
	}
}

@media (max-width:992px) {
  .fullscreen {
    width: 100%
 	}

  .navbar-nav>li>a {
    font-size: .8em;
    padding-right: 12px;
    padding-left: 0;
  }

  .nav-tabs>li {
    float: none;
  }
}

@media (max-width:767px) {

  .books-shelf .m-t-56,
  .books-shelf .m-t-38 {
    margin-top: 20px;
  }

  h1 {
    font-size: 1.2em;
    border-top: 1px #723B33 solid;
    border-bottom: 1px #723B33 solid;
    padding: 10px 0;
  }

  .navbar-nav>li>a {
    padding-left: 10px;
  }
}

@media (min-width:992px) {
  .navbar-nav>li>a {
    padding: 15px;
	}
	
	.fixHeight {
    height: 300px;
	}
	
	.fixHeight>a {
    display: block;
    position: relative;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
  }

  h3 {
  	font-size: 24px
  }
}

@media(min-width: 1200px) {
  section .nav li {
    float: none;
	}
}

@media(min-width: 320px) and (max-width: 500px){
  .with-icon:before{
    width: 40px;
    height: 40px;
    top: -15px;
    right: -10px;
  }
}
