body {
  font-family: pt-sans, Arial, sans-serif;
  margin-bottom: 0;
  margin-top: 64px;
  min-width: 320px;
}

/*  this not accessble from keyboard fixed when will find answer */

a:focus {
  outline: 1px dotted blue;
}

iframe {
  border: 0;
}

@font-face {
  font-family: pt-sans;
  src: url(../fonts/PTS55F-webfont.eot);
  src: url(../fonts/PTS55F-webfont.eot?#iefix) format('embedded-opentype'), 
  url(../fonts/PTS55F-webfont.woff2) format('woff2'),
  url(../fonts/PTS55F-webfont.woff) format('woff'), 
  url(../fonts/PTS55F-webfont.ttf) format('truetype'), 
  url(../fonts/PTS55F-webfont.svg#pt_sansregular) format('svg');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

a {
  font-size: .8rem;
  -webkit-transition: color 100ms ease-in;
          transition: color 100ms ease-in;
}

a:hover,
a:focus {
  text-decoration: none;
}

a[href^="#myModal"] {
	display: inline-block;
	position: relative;
}
 
/* label for form inputs only for accessibility  */

.access-visible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* helper classes */

.responsive-img-bt {
  height: auto;
  width: 100%;
}

.txt-align-center {
  text-align: center;
}

.modal-v-align {
  display: inline-block;
  vertical-align: middle;
}

.hide {
  opacity: 0;
}

/* section-header component */

.section-header {
  color: #723B33;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 75px auto 40px;
  text-align: center;
  text-transform: uppercase;
}

/* Navbar custom styles */

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: .5rem 1rem;
}

.collapse {
  display: none;
}

.navbar-nav {
  padding-left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1em;
  margin-bottom: 0;
  list-style: none;
}

.navbar-custom {
  background-color: #723b33;  
}

.nav-item {
  line-height: 1;
}

.nav-link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: .7em .5em;
}

.nav-link:hover {
  color: #000;
}

.navbar-brand {
  display: block;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-toggler {
  border: 2px solid #b99d99;
  border-radius: 3px;
  background-color: transparent;
  position: absolute;
  top: .7rem;
  right: 1rem;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
}

.navbar-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background-size: 100% 100%;
}

@media (min-width: 992px) {
  .navbar-toggler {
    display: none;    
  }

  .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 0;
  }

  .navbar-collapse {
    display: inline-block;
    vertical-align: middle;
  }

  .navbar-brand {
    display: inline-block;
  }

  .nav-link {
    padding: .5em;
  }
}

/* new icon component */

.with-icon:before {
  background-image:url('../images/new.svg');
	content: '';
  height: 40px;
  position: absolute;
  right: -10px;
  top: -15px;
  width: 40px;
  z-index: 1;
}

@media(min-width: 500px) {
  .with-icon:before {
    height: 50px;
    right: -25px;
    top: -20px;
    width: 50px;
  }
}

/* visible effect for lazyloading images  */

.blur-up {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: -webkit-filter 400ms, filter 400ms;
          transition: filter 400ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
          filter: blur(0);
}

/* bookshelf component  */

.bookshelf {
  list-style-type: none;
  padding-left: 0;
}

.bookshelf__item {
  margin: 20px 0;
  text-align: center;
}

.bookshelf__cover {
  -webkit-transition: -webkit-transform 200ms linear;
          transition: transform 200ms linear;
}

.bookshelf__link:hover .bookshelf__cover {
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
}

/* price component  */

.price {
  color: #723B33;
  display: block;
  font-size: 20px;
  padding-top: .5em;
  text-align: center;
}

.price:hover,
.price:focus {
  color: #723B33;
}

/* Video youtube styles */

.youtube-item {
  margin-bottom: 20px;
}

.youtube-item:last-child {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .youtube-item:last-child {
    margin-bottom: 20px;
  }
}
            
/* centering slider elements */

.modal {
  padding: 0;
  text-align: center;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  margin-right: -4px;
  vertical-align: middle;
}

.modal-inner {
  margin-top: 64px;
}

.modal-dialog {
  display: inline-block;
  vertical-align: middle;
}

.modal-header {
  background-color: #AE5E53;
  font-size: .8rem;
  margin: 0;
  padding: .5em 2em .5em .5em;
}

[data-modal-close] {
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 3px;
  line-height: 1;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
}

@media (min-width: 767px) {
  .modal-header {
    font-size: 1.125rem;
    padding: 1em 2em;
  }
  
  [data-modal-close] {
    font-size: 2.5rem;
    top: 15px;
  }
}  

@media (min-width: 992px) {
  .modal-lg {
    width: 800px;
  }
}


/* scroll to top component */

.to-top-btn {
  background: #723b33;
  border: 1px solid #fff;
  bottom: 20px;
  display: block;
  padding: 20px;
  position: fixed;
  right: 20px;
  width: auto;
  z-index: 90;
}

.to-top-btn__arrow {
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  display: block;
  height: 0; 
  width: 0; 
}

    /* delivery section */
    
.m-b-delivery {
  margin-bottom: 60px;
}

@media (min-width: 992px) {

  .delivery-paragraph {
    font-size: 1.25rem;
  }
}

/* footer component */

.footer {
  background-color: #723b33;
  font-size: 1rem;
  padding: 3em 0 0;
  position: relative;
}

/* contact component */

.contacts {
  color: #b8a69f;
  list-style-type: none;
}

.contacts__item {
  margin-bottom: .5em;
}

/* form component */

.form {
  font-size: 1rem;
  padding-bottom: 3em;
}

.form__item {
  line-height: normal;
  margin-bottom: 1.5em;
}

.form__input {
  border-radius: 3px;
  box-shadow: none;
  border: 0;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 1em;
  width: 100%;
}

.form__input_textarea {
  height: 10em;
  line-height: normal;
  padding-top: 1em;
  vertical-align: bottom;
  margin-bottom: 0;
}

.form-error {
  border: 2px solid red;
}

.error-message {
  color: #f8b4b4;
  font-size: .8125rem;
  letter-spacing: 1px;
  padding-top: 5px;
  text-align: left;
}

.form__btn-primary {
  margin: 0 15px 0 auto;
}

@media (min-width: 767px) {
  .form__item {
    margin-bottom: 2em;
  }
}

/* button component */

.btn-primary {
  background-color: #48c9b0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: .8125rem;
  line-height: 1;
  padding: 1em 2em .7em;
  text-transform: uppercase;
  -webkit-transition: all .5s;
          transition: all .5s;
  -webkit-font-smoothing: subpixel-antialiased;
}

.btn-primary:hover {
  background-color: #1ABC9C;
}

/* copyright component */

.copyright {
  background-color: #561f17;
  color: #b8a69f;
  font-size: .9rem;
  margin: 0;
  padding: 10px 100px 10px 0;
  text-align: right;
}

/* tns slider */

.tns-outer {
  text-align: center;
}

@media (max-width: 400px) {
  .tns-outer img {
    height: auto;
    width: 100%;
  }
}

.tns-controls [data-controls="next"],
.tns-controls [data-controls="prev"] {
  background-color: transparent;
  border-bottom: 0;
  border-left: 0;
  border-right: 4px solid #000;
  border-top: 4px solid #000;
  display: block;
  height: 25px;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 25px;
  z-index: 100;
}

.tns-controls [data-controls="next"]:hover,
.tns-controls [data-controls="prev"]:hover {
  border-right-color: #aaa;
  border-top-color:  #aaa;
}

.tns-controls [data-controls="next"] {
  right: 10px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.tns-controls [data-controls="prev"] {
  left: 10px;
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
}

